<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>check</servlet-name>
        <servlet-class>check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usr</servlet-name>
        <servlet-class>usr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>log</servlet-name>
        <servlet-class>log</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADMIN</servlet-name>
        <servlet-class>ADMIN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UPDATESLOT</servlet-name>
        <servlet-class>UPDATESLOT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UPDATEUSER</servlet-name>
        <servlet-class>UPDATEUSER</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DELETESLOT</servlet-name>
        <servlet-class>DELETESLOT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DELETEUSER</servlet-name>
        <servlet-class>DELETEUSER</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>INSERTSLOT</servlet-name>
        <servlet-class>INSERTSLOT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LOGOUTSERVLET</servlet-name>
        <servlet-class>LOGOUTSERVLET</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>log</servlet-name>
        <url-pattern>/log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reg</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usr</servlet-name>
        <url-pattern>/usr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADMIN</servlet-name>
        <url-pattern>/ADMIN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UPDATEUSER</servlet-name>
        <url-pattern>/UPDATEUSER</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DELETESLOT</servlet-name>
        <url-pattern>/DELETESLOT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DELETEUSER</servlet-name>
        <url-pattern>/DELETEUSER</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UPDATESLOT</servlet-name>
        <url-pattern>/UPDATESLOT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>INSERTSLOT</servlet-name>
        <url-pattern>/INSERTSLOT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LOGOUTSERVLET</servlet-name>
        <url-pattern>/LOGOUTSERVLET</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
